.custom-error-block{
    color: red;
    font-weight: normal;
    font-size: medium;
}

.custom-font-weight-normal{
    font-weight: normal;
}

a{
    text-decoration: none;
}


.custom-underline-hover:hover{
    border-bottom: solid 2px white;
}

.custom-blue-text{
    color: blue;
}

.custom-required-mark::after{
    content: ' *';
    color: red;
}

.custom-username-symbol::before{
    content: "@";
}

.custom-empty-box-img-size{
    max-width: 256px;
    max-height: 256px;
}

.custom-textarea-resize-none-hidden-overflow{
    resize: none;
    overflow-y: hidden;
}

#notification-container {
    position: fixed;
    right: 20px;
    top: 70px;
    z-index: 1000;
    max-width: 40%;
    width: 40%;
  }

.custom-spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ffd024;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #ffd024;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ffd024;
    }
    50% {
      box-shadow: 0 0 0 #ffd024;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ffd024;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
  
      