.custom-error-block{
    color: red;
    font-weight: normal;
    font-size: medium;
}

.custom-font-weight-normal{
    font-weight: normal;
}

a{
    text-decoration: none;
}


.custom-underline-hover:hover{
    border-bottom: solid 2px white;
}

.custom-blue-text{
    color: blue;
}

.custom-required-mark::after{
    content: ' *';
    color: red;
}

.custom-username-symbol::before{
    content: "@";
}

.custom-empty-box-img-size{
    max-width: 256px;
    max-height: 256px;
}

.custom-textarea-resize-none-hidden-overflow{
    resize: none;
    overflow-y: hidden;
}
