{% extends 'base_template.html' %}

{% block title %}Проекты @{{ user.username }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row justify-content-center">
        <h2 class="my-0 mt-2">
            {{ user.surname }} {{ user.name }} 
        </h2>
        <small class="fs-5 mt-3 font-monospace">
            {% if user.about.tags.split(' ') != [''] %}
                {% for tag in user.about.tags.split(' ') %}
                    <span class="badge rounded-pill" style="background-color: {{ user.string_to_color(tag) }};">{{ tag }}</span>
                {% endfor %}
            {% endif %}
        </small>
        <ul class="col nav nav-tabs mt-4">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/account/@{{ user.username }}">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Деятельность</a>
            </li>
            {% if current_user.username == user.username %}
            <li class="nav-item">
                <a class="nav-link" href="/account/@{{ user.username }}/bookmarks">Избранное</a>
            </li>
            {% endif %}
        </ul>
        <div class="card rounded-0 py-2" style="border-top: none;">
            {% if projects|length == 0 %}
                <div class="row">
                    <svg class="mt-4" fill="#565656" width="150px" height="150px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m15.66 7-.91-2.68L8.62.85a1.28 1.28 0 0 0-1.24 0L1.25 4.32.34 7a1.24 1.24 0 0 0 .58 1.5l.33.18V11a1.25 1.25 0 0 0 .63 1l5.5 3.11a1.28 1.28 0 0 0 1.24 0l5.5-3.11a1.25 1.25 0 0 0 .63-1V8.68l.33-.18a1.24 1.24 0 0 0 .58-1.5zM10 9.87l-.48-1.28L14 6.13l.44 1.28zM8 1.94 13.46 5 8 8 2.54 5zM1.52 7.41 2 6.13l4.48 2.46L6 9.87zm1 1.95 4.25 2.32.62-1.84v3.87L2.5 11zM13.5 11l-4.88 2.71V9.84l.63 1.84 4.25-2.32z"/></svg>
                    <p class="text-center text-muted mt-2">{{ user.surname }} {{ user.name }} ещё не создал ни один проект.</p>
                </div>
                {% if current_user.id == user.id %}
                    <a href="/project/create" class="btn btn-sm btn-primary mt-4">
                        Создать проект
                    </a>
                {% endif %}
            {% else %}
            <div class="row">
                <div class="container">
                {% for project in projects %}
                    <div class="card">
                        <div class="card-header fs-6 bg-warning bg-gradient">
                            <div class="row">
                                <strong class="col fs-5 font-monospace">{{ project.type }}</strong>
                                <span class="text-muted col col-sm-auto" title="{{ project.public_date.strftime('%d.%m.%Y %H:%M:%S') }} GMT">{{ project.public_date.strftime('%d.%m.%Y') }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-title h2 m-0">
                                {{ project.name }}
                            </div>
                            <div class="card-text">
                                <p class="text-muted mt-0">
                                    {{ project.theme }}
                                </p>
                                <p>
                                    {% if project.tags and project.tags.split(' ') != [''] %}
                                        {% for tag in project.tags.split(' ') %}
                                            <span class="badge rounded-pill" style="background-color: {{ project.string_to_color(tag) }};">{{ tag }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </p>
                                <p class="fs-6">
                                    <strong>Цель:</strong> {{ project.goal }}
                                </p>
                                <p class="fs-6" role="button" onclick="change_description_vision({{ loop.index }})" title="Развернуть или скрыть описание">
                                    <strong>Описание:</strong>
                                    <span id="short_description {{ loop.index }}">{{ project.description | truncate(300, false, ' ...') }}</span>
                                    <span id="all_description {{ loop.index }}" hidden>{{ project.description }}</span>
                                </p>
                                {% if project.teammates %}
                                    <p class="fs-6" style="color: red;">
                                        Людей в команде: {{ project.teammates | length }}
                                    </p>
                                {% endif %}
                                {% if project.vacancies %}
                                    <p class="fs-6 mt-5">
                                        <strong>Вакансии:</strong>
                                        <div class="row">
                                            {% for vacancy in project.vacancies %}
                                            <div class="col-4 mb-4">
                                                <div class="card">
                                                    <div class="card-header bg-warning bg-gradient">
                                                        <strong>{{ vacancy.vacancyName }}</strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <strong>Описание:</strong> <pre style="white-space: pre-wrap; word-wrap: break-word; ">{{ vacancy.vacancyDescription }}</pre>
                                                    </div>
                                                    <div class="card-body">
                                                        <strong>Требования:</strong> <pre style="white-space: pre-wrap; word-wrap: break-word; ">{{ vacancy.vacancyNeeds }}</pre>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="mt-4 mx-2">
                                <div class="row">
                                    <a class="btn btn-sm btn-primary col-2" href="/project/{{ project.id }}">
                                        Открыть
                                    </a>
                                    {% if current_user.username == user.username %}
                                        <a class="btn btn-sm btn-outline-danger col-2 mx-3" onclick="if(confirm('Подтвердите удаление проекта «{{ project.name }}»')){delelte_project_request({{ project.id }})}">
                                            Удалить
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-3"></div>
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}