{% extends 'base_template.html' %}

{% block title %}Профиль @{{ user.username }}{% endblock %}

{% block content %}

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute top-0 end-0 p-3" id="toast-container"></div>
</div>

{% if current_user.id == user.id %}
<div class="modal fade" tabindex="-1" id="changePasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Окно изменения пароля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Введите текущий пароль</label>
                        <input type="password" class="form-control" id="oldPassword">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Введите новый пароль</label>
                        <input type="password" class="form-control" id="newPassword">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="change_password_request()">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container mt-2">
    <div class="row justify-content-center">
        <h2 class="my-0 mt-2">
            {{ user.surname }} {{ user.name }}
        </h2>
        <ul class="col nav nav-tabs mt-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account/@{{ user.username }}/projects">Деятельность</a>
            </li>
            {% if current_user.username == user.username %}
            <li class="nav-item">
                <a class="nav-link" href="/account/@{{ user.username }}/bookmarks">Избранное</a>
            </li>
            {% endif %}
        </ul>
        <div class="card rounded-0" style="border-top: none;">
            <div class="card-body mt-2">
                {% if current_user.id == user.id %}
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Фамилия</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 p-2" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="surname" onblur="change_values()"{% endif %}>{{ user.surname }}</p>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Имя</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 p-2" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="name" onblur="change_values()"{% endif %}>{{ user.name }}</p>
                        </div>
                    </div>
                    <hr class="my-2">
                {% endif %}
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Имя пользователя</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 p-2 custom-username-symbol" {% if current_user.id == user.id %} spellcheck="false" contenteditable="true" id="username" onblur="change_values()"{% endif %}>{{ user.username }}</p>
                        </div>
                    </div>
                    {% if current_user.id == user.id %}
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Адрес электронной почты</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 p-2" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="email" onblur="change_values()"{% endif %}>{{ user.email }}</p>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Пароль</p>
                        </div>
                        <div class="col-sm-9">
                            <a data-bs-toggle="modal" data-bs-target="#changePasswordModal" href="#" class="mx-2">Изменить пароль</a>
                        </div>
                    </div>
                    {% endif %}
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Ссылки</p>
                        </div>
                        <div class="col-sm-9">
                            <div class="mx-2">
                                <div class="row">
                                    <div class="col-2">
                                        VK:
                                    </div>
                                    <{% if user.about.vk_link %}a target='_blank' class='col mb-0 p-2' href='https://{{ user.about.vk_link }}'{% else %}p class="col text-muted mb-0 p-2"{% endif %} {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="vk_link" onblur="change_values()"{% endif %}>{% if user.about.vk_link %}{{ user.about.vk_link }}{% else %}Не указано{% endif %}</{% if user.about.vk_link %}a{% else %}p{% endif %}>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        Telegram:
                                    </div>
                                    <{% if user.about.telegram_link %}a target='_blank' class='col mb-0 p-2' href='https://{{ user.about.telegram_link }}'{% else %}p class="col text-muted mb-0 p-2"{% endif %} {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="telegram_link" onblur="change_values()"{% endif %}>{% if user.about.telegram_link %}{{ user.about.telegram_link }}{% else %}Не указано{% endif %}</{% if user.about.telegram_link %}a{% else %}p{% endif %}>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        GitHub:
                                    </div>
                                    <{% if user.about.github_link %}a target='_blank' class='col mb-0 p-2' href='https://{{ user.about.github_link }}'{% else %}p class="col text-muted mb-0 p-2"{% endif %} {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="github_link" onblur="change_values()"{% endif %}>{% if user.about.github_link %}{{ user.about.github_link }}{% else %}Не указано{% endif %}</{% if user.about.github_link %}a{% else %}p{% endif %}>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        Email:
                                    </div>
                                    <p class="col text-muted mb-0 p-2" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="email_link" onblur="change_values()"{% endif %}>{% if user.about.email_link %}{{ user.about.email_link }}{% else %}Не указано{% endif %}</p>
                                </div>
                                {% if current_user.uername == user.username %}
                                    <p class="form-text mt-2">Указывайте полную ссылку без `http://` и `https://`, чтобы она отображалась корректно.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Образование</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 p-2" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="education" onblur="change_values()"{% endif %}>{% if user.about.education %}{{ user.about.education }}{% else %}Не указано{% endif %}</p>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Технологические интересы, навыки</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 p-2" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="skills" onblur="change_values()"{% endif %}>{% if user.about.skills %}{{ user.about.skills }}{% else %}Не указано{% endif %}</p>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Увлечения</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 p-2" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="hobbies" onblur="change_values()"{% endif %}>{% if user.about.hobbies %}{{ user.about.hobbies }}{% else %}Не указано{% endif %}</p>
                        </div>
                    </div>
                {% if current_user.id == user.id %}
                </form>
                {% endif %}
            </div>
            {% if current_user.id == user.id %}
                <p class="text-muted m-2 mt-4"><small>Здесь отображается больше полей, потому что вы просматриваете собственный аккаунт. Вы можете изменять данные своего аккаунта на этой странице.</small></p>
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}