<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Профиль</title>
</head>

<body>
    <header class="bg-dark text-white">
        <div class="container py-3">
          <div class="hstack gap-3">
            <a href="/" class="navbar-brand text-white">// Название //</a>
            |
            <a href="/account" class="navbar-brand text-white" title="Перейти в профиль">
              // Имя пользователя //
            </a>
            <a class="btn btn-outline-light btn-sm ms-auto" type="button" title="Открыть страницу с проектами">
              Смотреть проекты
            </a>
            <a class="btn btn-outline-light btn-sm" type="button" title="Поиск по пользователям сайта">
              Поиск пользователей
            </a>
            <a class="btn btn-outline-light btn-sm" type="button" title="Поиск по пользователям сайта" href="ideas-generator">
              Генератор идей <sup><span class="badge bg-danger">NEW</span></sup>  <!-- Можно убрать sup для полного отображения -->
            </a>
            <a class="btn btn-outline-warning btn-sm" type="button" title="Поиск по пользователям сайта" href="bookmarks">
              Избранное
            </a>
            |
            <a type="button" class="btn btn-danger btn-sm" title="Выйти из аккаунта">
              Выйти
            </a>
          </div>
        </div>
    </header>
    
    <div class="container mt-2">
      <div class="row justify-content-center">
        <div class="h2">
          Профиль
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <div class="card">
              <div class="card-body">
                // Имя //
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
</body>

</html>