{% extends 'base_template.html' %}

{% block title %}Профиль @{{ user.username }}{% endblock %}

{% block content %}

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute top-0 end-0 p-3" id="toast-container"></div>
</div>

{% if current_user.id == user.id %}
<div class="modal fade" tabindex="-1" id="changePasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Окно изменения пароля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Введите текущий пароль</label>
                        <input type="password" class="form-control" id="oldPassword">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Введите новый пароль</label>
                        <input type="password" class="form-control" id="newPassword">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="change_password_request()">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container mt-2">
    <div class="row justify-content-center">
        <h2 class="my-0 mt-2">
            {{ user.surname }} {{ user.name }} 
        </h2>
        <small class="fs-5 mt-3 font-monospace">
            {% if user.about.tags.split(' ') != [''] %}
                {% for tag in user.about.tags.split(' ') %}
                    <span class="badge rounded-pill" style="background-color: {{ user.string_to_color(tag) }};">{{ tag }}</span>
                {% endfor %}
            {% endif %}
        </small>
        <ul class="col nav nav-tabs mt-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account/@{{ user.username }}/projects">Деятельность</a>
            </li>
            {% if current_user.username == user.username %}
            <li class="nav-item">
                <a class="nav-link" href="/account/@{{ user.username }}/bookmarks">Избранное</a>
            </li>
            {% endif %}
        </ul>
        <div class="card rounded-0" style="border-top: none;">
            <div class="card-body mt-2">
                {% if current_user.id == user.id %}
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Фамилия</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control border-0 text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="surname" onblur="change_values()" oninput="textarea_auto_resize('surname')"{% else %}disabled{% endif %}>{{ user.surname }}</textarea>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Имя</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control border-0 text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="name" onblur="change_values()" oninput="textarea_auto_resize('name')"{% else %}disabled{% endif %}>{{ user.name }}</textarea>
                        </div>
                    </div>
                    <hr class="my-2">
                {% endif %}
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Имя пользователя</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control border-0 text-muted mb-0 p-2 custom-username-symbol custom-textarea-resize-none-hidden-overflow" {% if current_user.id == user.id %} spellcheck="false" contenteditable="true" id="username" onblur="change_values()" oninput="textarea_auto_resize('username')"{% else %}disabled{% endif %}>{{ user.username }}</textarea>
                        </div>
                    </div>
                    {% if current_user.id == user.id %}
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Адрес электронной почты</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control border-0 text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="email" onblur="change_values()" oninput="textarea_auto_resize('email')"{% else %}disabled{% endif %}>{{ user.email }}</textarea>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Пароль</p>
                        </div>
                        <div class="col-sm-9">
                            <a data-bs-toggle="modal" data-bs-target="#changePasswordModal" href="#" class="mx-2">Изменить пароль</a>
                        </div>
                    </div>
                    {% endif %}
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Ссылки</p>
                        </div>
                        <div class="col-sm-9">
                            <div class="mx-2">
                                <div class="row mb-3">
                                    <div class="col-2">
                                        VK:
                                    </div>
                                    {% if current_user.username != user.username %}
                                        {% if user.about.vk_link %}
                                            <a target='_blank' class='col mb-0 p-2' href='https://{{ user.about.vk_link }}'>
                                        {% else %}
                                            <a target='_blank' class='col mb-0 p-2 text-muted'>
                                        {% endif %}
                                            {% if user.about.vk_link %}
                                                {{ user.about.vk_link }}
                                            {% else %}
                                                Не указано
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <textarea oninput="textarea_auto_resize('vk_link')" class="form-control border-0 col text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" spellcheck="false" id="vk_link" onblur="change_values()">
{% if user.about.vk_link %}{{ user.about.vk_link }}{% else %}Не указано{% endif %}</textarea>
                                    {% endif %}
                                </div>
                                <div class="row mb-3">
                                    <div class="col-2">
                                        Telegram:
                                    </div>
                                    {% if current_user.username != user.username %}
                                        {% if user.about.telegram_link %}
                                            <a target='_blank' class='col mb-0 p-2' href='https://{{ user.about.telegram_link }}'>
                                        {% else %}
                                            <a target='_blank' class='col mb-0 p-2 text-muted'>
                                        {% endif %}
                                            {% if user.about.telegram_link %}
                                                {{ user.about.telegram_link }}
                                            {% else %}
                                                Не указано
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <textarea oninput="textarea_auto_resize('telegram_link')" class="form-control border-0 col text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" spellcheck="false" id="telegram_link" onblur="change_values()">
{% if user.about.telegram_link %}{{ user.about.telegram_link }}{% else %}Не указано{% endif %}</textarea>
                                    {% endif %}
                                </div>
                                <div class="row mb-3">
                                    <div class="col-2">
                                        GitHub:
                                    </div>
                                    {% if current_user.username != user.username %}
                                        {% if user.about.github_link %}
                                            <a target='_blank' class='col mb-0 p-2' href='https://{{ user.about.github_link }}'>
                                        {% else %}
                                            <a target='_blank' class='col mb-0 p-2 text-muted'>
                                        {% endif %}
                                            {% if user.about.github_link %}
                                                {{ user.about.github_link }}
                                            {% else %}
                                                Не указано
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <textarea oninput="textarea_auto_resize('github_link')" class="form-control border-0 col text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" spellcheck="false" id="github_link" onblur="change_values()">
{% if user.about.github_link %}{{ user.about.github_link }}{% else %}Не указано{% endif %}</textarea>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        Email:
                                    </div>
                                    {% if current_user.id == user.id %}
                                        <textarea class="form-control border-0 col text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" spellcheck="false" id="email_link" onblur="change_values()" oninput="textarea_auto_resize('email_link')">
{% if user.about.email_link %}{{ user.about.email_link }}{% else %}Не указано{% endif %}</textarea>
                                    {% else %}
                                        <p class="form-control border-0 col text-muted mb-0 p-2">
                                            {% if user.about.email_link %}
                                                {{ user.about.email_link }}
                                            {% else %}
                                                Не указано
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                </div>
                                {% if current_user.username == user.username %}
                                    <p class="form-text mt-2">Указывайте полную ссылку без `http://` и `https://`, чтобы она отображалась корректно.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Образование</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control border-0 text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="education" oninput="textarea_auto_resize('education')" onblur="change_values()"{% else %}disabled{% endif %}>{% if user.about.education %}{{ user.about.education }}{% else %}Не указано{% endif %}</textarea>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Технологические интересы, навыки</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control border-0 text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="skills" oninput="textarea_auto_resize('skills')" onblur="change_values()"{% else %}disabled{% endif %}>{% if user.about.skills %}{{ user.about.skills }}{% else %}Не указано{% endif %}</textarea>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Увлечения</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control border-0 text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" {% if current_user.id == user.id %}spellcheck="false" contenteditable="true" id="hobbies" oninput="textarea_auto_resize('hobbies')" onblur="change_values()"{% else %}disabled{% endif %}>{% if user.about.hobbies %}{{ user.about.hobbies }}{% else %}Не указано{% endif %}</textarea>
                        </div>
                    </div>
                    {% if current_user.username == user.username %}
                    <hr class="my-2">
                    <div class="row">
                        <div class="col-sm-3">Теги</div>
                        <div class="col-sm-9">
                            <textarea class="form-control border-0 text-muted mb-0 p-2 custom-textarea-resize-none-hidden-overflow" {% if current_user.id == user.id %} spellcheck="false" contenteditable="true" id="tags" oninput="textarea_auto_resize('tags')" onblur="change_values()"{% else %}disabled{% endif %}>{% if user.about.tags %}{{ user.about.tags }}{% else %}Не указано{% endif %}</textarea>
                        </div>
                    </div>
                    {% endif %}
                {% if current_user.id == user.id %}
                </form>
                {% endif %}
            </div>
            {% if current_user.id == user.id %}
                <p class="text-muted m-2 mt-4"><small>Здесь отображается больше полей, потому что вы просматриваете собственный аккаунт. Вы можете изменять данные своего аккаунта на этой странице.</small></p>
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}