{% extends 'base_template.html' %}

{% block title %}Профиль @{{ user.username }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="h2">
            {{ user.surname }} {{ user.name }}
        </div>
        <ol>
            {% for key, value in user.__dict__.items() %}
                <li>
                    {{ key }} : {{ value }} <br>
                </li>
            {% endfor %}
        </ol>
        <div class="card mt-4">
            <form action="/account" method="post">
                <div class="card-body">
                    <div class="row">
                        <label for="inputName" class="col-sm-2 col-form-label">Отображаемое имя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{ username }}" id="inputName" name="name">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <label for="inputLogin" class="col-sm-2 col-form-label">Логин</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{ login }}" id="inputLogin" name="login">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Пароль</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="Пароль хеширован" id="inputPassword"
                                   name="password" disabled>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <label class="col-sm-2 col-form-label" for="selectStatus">Статус</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="selectStatus" name="status">
                                <option value=""></option>
                                <option value="Ищу команду" id="opt1" {% if status==
                                "Ищу команду" %}selected{% endif %}>Ищу команду</option>
                                <option value="Ищу проект" id="opt2" {% if status==
                                "Ищу проект" %}selected{% endif %}>Ищу проект</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <label for="inputAbout" class="col-sm-2 col-form-label">О себе</label>
                        <div class="col-sm-10">
                            <textarea id="about" name="about" class="form-control" id="inputAbout"
                                      rows="3">{{ about }}</textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary ms-auto mx-3 mb-4 float-end">
                    Сохранить изменения
                </button>
            </form>
            <hr>
            <div class="card-body mt-4">
                <div class="row">
                    <div class="h2">
                        Ваши идеи:
                    </div>
                    {% for project in projects %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            Название: {{ project.name }}
                                        </li>
                                        <li class="list-group-item">
                                            Тема: {{ project.theme }}
                                        </li>
                                        <li class="list-group-item">
                                            Цель: {{ project.goal }}
                                        </li>
                                        <li class="list-group-item">
                                            Описание: {{ project.goal }}
                                        </li>
                                        <li class="list-group-item">
                                            Рейтинг: {{ project.rank }}
                                        </li>
                                        <li class="list-group-item">
                                            Дата и время создания: {{ project.public_date.strftime("%Y-%m-%d %H:%M:%S") }}
                                        </li>
                                        <li class="list-group-item mt-4">
                                            <a class="btn btn-sm btn-primary" href="/projects/{{ project.id }}">
                                                Открыть
                                            </a>
                                            <a class="btn btn-sm btn-outline-danger" href="">
                                                Удалить
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <a href="/project/create" class="btn btn-sm btn-primary mt-4">
                    Создать проект
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}