<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='1561PROJECTS icon.png') }}" type="imageimage/png">
    <title>{% block title %}// 1561 PROJECTS //{% endblock %} (1561 PROJECTS)</title>
</head>
<body>

<header class="bg-dark text-white">
    <div class="container py-3">
        <div class="hstack gap-3">
            <a href="/" class="navbar-brand text-white font-monospace border-bottom border-2">// 1561 PROJECTS //</a>
            {% if current_user is defined %}
            |
            <a href="/account" class="navbar-brand text-white custom-underline-hover" title="Перейти в профиль">{{ current_user.surname }} {{ current_user.name }}</a>
            <a class="btn btn-outline-light btn-sm ms-auto" type="button" href="/search/projects">Поиск проектов</a>
            <a class="btn btn-outline-light btn-sm" type="button" href="/search/users">Поиск пользователей</a>
            <a href="/project/create" class="btn btn-warning btn-sm">Создать проект</a>
            |
            <a type="button" class="btn btn-danger btn-sm" title="Выйти из аккаунта" href="/logout">Выйти</a>
            {% else %}
            <a class="btn btn-sm text-white ms-auto" type="button" href="/login">Войти</a>
            <a class="btn btn-outline-light btn-sm" type="button" href="/register">Зарегистрироваться</a>
            {% endif %}
            <a href="#" class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Сайт находится в режиме тестирования.</b><br>Ошибки, идеи, предложения:<br><b>Телеграм @stpnnr</b>" data-bs-placement="bottom">
                <svg width="25px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 14.75C11.59 14.75 11.25 14.41 11.25 14V9C11.25 8.59 11.59 8.25 12 8.25C12.41 8.25 12.75 8.59 12.75 9V14C12.75 14.41 12.41 14.75 12 14.75Z" fill="red"></path>
                    <path d="M12 18C11.94 18 11.87 17.99 11.8 17.98C11.74 17.97 11.68 17.95 11.62 17.92C11.56 17.9 11.5 17.87 11.44 17.83C11.39 17.79 11.34 17.75 11.29 17.71C11.11 17.52 11 17.26 11 17C11 16.74 11.11 16.48 11.2916.29C11.34 16.25 11.39 16.21 11.44 16.17C11.5 16.13 11.56 16.1 11.62 16.08C11.68 16.05 11.74 16.03 11.8 16.02C11.93 15.99 12.07 15.99 12.19 16.02C12.26 16.03 12.32 16.05 12.38 16.08C12.44 16.1 12.5 16.13 12.56 16.17C12.61 16.21 12.66 16.25 12.71 16.29C12.89 16.48 13 16.74 13 17C13 17.26 12.89 17.52 12.71 17.71C12.66 17.75 12.61 17.79 12.56 17.83C12.5 17.87 12.44 17.9 12.38 17.92C12.32 17.95 12.26 17.97 12.19 17.98C12.13 17.99 12.06 18 12 18Z" fill="red"></path>
                    <path d="M18.06 22.16H5.93998C3.98998 22.16 2.49998 21.45 1.73998 20.17C0.989976 18.89 1.08998 17.24 2.03998 15.53L8.09998 4.63C9.09998 2.83 10.48 1.84 12 1.84C13.52 1.84 14.9 2.83 15.9 4.63L21.96 15.54C22.91 17.25 23.02 18.89 22.26 20.18C21.5 21.45 20.01 22.16 18.06 22.16ZM12 3.34C11.06 3.34 10.14 4.06 9.40998 5.36L3.35998 16.27C2.67998 17.49 2.56998 18.61 3.03998 19.42C3.50998 20.23 4.54998 20.67 5.94998 20.67H18.07C19.47 20.67 20.5 20.23 20.98 19.42C21.46 18.61 21.34 17.5 20.66 16.27L14.59 5.36C13.86 4.06 12.94 3.34 12 3.34Z" fill="red"></path>
                </svg>
            </a>
            <a href="#" class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Адрес <i>vps.codingprojects.ru:1561</i> является временным.<br>Следите за обновлениями!" data-bs-placement="bottom">
                <svg width="25px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" fill="yellow" d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,4 C7.581722,4 4,7.581722 4,12 C4,16.418278 7.581722,20 12,20 C16.418278,20 20,16.418278 20,12 C20,7.581722 16.418278,4 12,4 Z M12,6 C12.5128358,6 12.9355072,6.38604019 12.9932723,6.88337887 L13,7 L13,11.5857864 L14.7071068,13.2928932 C15.0976311,13.6834175 15.0976311,14.3165825 14.7071068,14.7071068 C14.3466228,15.0675907 13.7793918,15.0953203 13.3871006,14.7902954 L13.2928932,14.7071068 L11.2928932,12.7071068 C11.1366129,12.5508265 11.0374017,12.3481451 11.0086724,12.131444 L11,12 L11,7 C11,6.44771525 11.4477153,6 12,6 Z"/>
                </svg>
            </a>
        </div>
    </div>
</header>

{% if current_user is defined %}
    {% if not current_user.website_grade %}
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-header">
                        <a href="#rateRadios" class="text-decoration-none text-dark" data-bs-toggle="collapse" aria-expanded="false" aria-controls="rateRadios">
                            <h4>Оценить сайт</h4>
                        </a>
                    </div>
                    <div class="card-body collapse" id="rateRadios">
                        <form id="rate_form">
                            <h5>Выберите одну оценку</h5>
                            <br>
                            <div class="row">
                                <p class="col">
                                    <input class="btn-check" type="radio" name="website_rate" value="1" id="rate_1" required>
                                    <label class="w-100 btn btn-outline-warning text-dark btn-sm" for="rate_1">Оценка «1»</label>
                                </p>
                                <p class="col">
                                    <input class="btn-check" type="radio" name="website_rate" value="2" id="rate_2">
                                    <label class="w-100 btn btn-outline-warning text-dark btn-sm" for="rate_2">Оценка «2»</label>
                                </p>
                                <p class="col">
                                    <input class="btn-check" type="radio" name="website_rate" value="3" id="rate_3">
                                    <label class="w-100 btn btn-outline-warning text-dark btn-sm" for="rate_3">Оценка «3»</label>
                                </p>
                                <p class="col">
                                    <input class="btn-check" type="radio" name="website_rate" value="4" id="rate_4">
                                    <label class="w-100 btn btn-outline-warning text-dark btn-sm" for="rate_4">Оценка «4»</label>
                                </p>
                                <p class="col">
                                    <input class="btn-check" type="radio" name="website_rate" value="5" id="rate_5">
                                    <label class="w-100 btn btn-outline-warning text-dark btn-sm" for="rate_5">Оценка «5»</label>
                                </p>
                            </div>
                            <button class="btn btn-primary btn-sm mt-4" type="submit">
                                Отправить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

<div class="custom-spinner-wrapper" id="spinner">
    <span class="loader"></span>
</div>

<div class="container mt-5">
    <div id="notification-container"></div>
</div>

{% block content %}{% endblock %}

<div class="mt-5">&nbsp;</div>
<div class="mt-5">&nbsp;</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>