<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Форма создания проекта</title>
</head>

<body>
  <header class="bg-dark text-white">
    <div class="container py-3">
      <div class="hstack gap-3">
        <a href="/" class="navbar-brand text-white" style="border-bottom: 2px solid white;">// 1561 PROJECTS //</a>
        |
        <a href="/account" class="navbar-brand text-white" title="Перейти в профиль">
          // Имя пользователя //
        </a>
        <a class="btn btn-outline-light btn-sm ms-auto" type="button" title="Открыть страницу с проектами">
          Смотреть проекты
        </a>
        <a class="btn btn-outline-light btn-sm" type="button" title="Поиск по пользователям сайта">
          Поиск пользователей
        </a>
        <a class="btn btn-outline-light btn-sm" type="button" title="Поиск по пользователям сайта"
          href="/ideas-generator">
          Генератор идей <sup><span class="badge bg-danger">NEW</span></sup>
          <!-- Можно убрать sup для полного отображения -->
        </a>
        <a class="btn btn-outline-warning btn-sm" type="button" title="Поиск по пользователям сайта" href="/bookmarks">
          Избранное
        </a>
      </div>
    </div>
  </header>

  <div class="container mt-2">
    <div class="row justify-content-center">
      <div class="h2">
        Форма создания проекта
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <form action="/create-project" method="post">
            <div class="card-body">
              <div class="row">
                <label for="name" class="col-sm-2 col-form-label">Название</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="// Название //" id="name" name="name">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <label for="status" class="col-sm-2 col-form-label">Статус</label>
                <div class="col-sm-10">
                  <select class="form-select" id="status" name="status">
                    <option value="1" id="opt1">Ищу команду</option>
                    <option value="2" id="opt2">Команда набрана</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <label for="theme" class="col-sm-2 col-form-label">Тема, категория</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="// Тема //" id="theme" name="theme">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <label for='deadline' class="col-sm-2 col-form-label">Срок выполнения</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="// Срок выполнения //" id="deadline" name="deadline">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <label for="search-to" class="col-sm-2 col-form-label">Нам нужны</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="// Кого ищем //" id="search-to" name="search-to">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <label for="description" class="col-sm-2 col-form-label">Описание</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" id="description" name="description">// Описание //</textarea>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Сохранить и опубликовать</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="../static/script.js"></script>
</body>

</html>