{% extends "base_template.html" %}

{% block title %}Поиск проектов{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="justify-content-center">
        <div class="h2">
            Поиск проектов
        </div>
        <div class="col-md-12 mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <form method="get" action="" class="input-group-lg">
                        <div class="row g-2">
                            <div class="col-11">
                                <input class="form-control me-2" type="search" name="query" placeholder="Введите запрос..." aria-label="Search" value="{% if values is defined and values.get('query') %}{{ values.get('query') }}{% endif %}">
                            </div>
                            <div class="col-1">
                                <button class="btn btn-outline-primary" type="submit">Искать</button>
                            </div>
                        </div>
                        <div class="h5 mt-4">
                            <a class="text-decoration-none link-dark h5" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">
                                Фильтры поиска
                                <svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z" fill="#000000"/>
                                </svg>
                            </a>
                        </div>
                        <div class="collapse" id="filters">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <a class="link-dark h5" data-bs-toggle="collapse" href="#choose_project_type" role="button" aria-expanded="false" aria-controls="choose_project_type">
                                            Тип
                                        </a>
                                    </div>
                                    <div class="collapse mt-2 show" id="choose_project_type">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="project_type_project" name="project_type_project" {% if (values is defined and values.get('project_type_project') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="project_type_project">
                                              Проект
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="project_type_science" name="project_type_science" {% if (values is defined and values.get('project_type_science') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="project_type_science">
                                              Исследование
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="project_type_idea" name="project_type_idea" {% if (values is defined and values.get('project_type_idea') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="project_type_idea">
                                              Идея
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-2">
                                <div class="card-body">
                                    <div>
                                        <a class="link-dark h5" data-bs-toggle="collapse" href="#choose_project_search_by" role="button" aria-expanded="false" aria-controls="choose_project_search_by">
                                            Поиск по ...
                                        </a>
                                    </div>
                                    <div class="collapse mt-2 show" id="choose_project_search_by">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="search_name" name="search_name" {% if (values is defined and values.get('search_name') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="search_name">
                                              Названию
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="search_author" name="search_author" {% if (values is defined and values.get('search_author') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="search_author">
                                              Автору
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="search_theme" name="search_theme" {% if (values is defined and values.get('search_theme') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="search_theme">
                                              Теме
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="search_goal" name="search_goal" {% if (values is defined and values.get('search_goal') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="search_goal">
                                              Цели
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="search_description" name="search_description" {% if (values is defined and values.get('search_description') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="search_description">
                                              Описанию
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="search_tags" name="search_tags" {% if (values is defined and values.get('search_tags') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="search_tags">
                                              Тегам
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
        </div>
        {% if not projects %}
            <div class="row">
                <svg fill="#565656" class="mt-4" width="150px" height="150px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10.035,18.069a7.981,7.981,0,0,0,3.938-1.035l3.332,3.332a2.164,2.164,0,0,0,3.061-3.061l-3.332-3.332A8.032,8.032,0,0,0,4.354,4.354a8.034,8.034,0,0,0,5.681,13.715ZM5.768,5.768A6.033,6.033,0,1,1,4,10.035,5.989,5.989,0,0,1,5.768,5.768Z"/></svg>
                <p class="text-center text-muted mt-2">По вашему запросу ничего не нашлось.</p>
            </div>
        {% endif %}
        {% for project in projects %}
            <div class="card mb-3">
                <div class="card-header fs-6 bg-warning bg-gradient">
                    <div class="row">
                        <strong class="col fs-5 font-monospace">{{ project.type }}</strong>
                        <span class="text-muted col col-sm-auto" title="{{ project.public_date.strftime('%d.%m.%Y %H:%M:%S') }} GMT">{{ project.public_date.strftime('%d.%m.%Y') }}</span>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="text-muted fs-6 mb-2">
                        Автор: <a href="/account/@{{ project.author.username }}">{{ project.author.surname }} {{ project.author.name }} <sup><i>(@{{ project.author.username }})</i></sup></a>
                    </div>
                    <div class="card-title h3 m-0">
                        {{ project.name }}
                    </div>
                    <div class="card-text">
                        <p class="text-muted mt-0">
                            {{ project.theme }}
                        </p>
                        <p>
                            {% if project.tags and project.tags.split(' ') != [''] %}
                                {% for tag in project.tags.split(' ') %}
                                <a href="/search/projects?query={{ tag }}&project_type_project=on&project_type_science=on&project_type_idea=on&search_tags=on">
                                    <span class="badge rounded-pill" style="background-color: {{ project.string_to_color(tag) }};">{{ tag }}</span>
                                </a>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p class="fs-6">
                            <strong>Цель:</strong> {{ project.goal }}
                        </p>
                        <p class="fs-6" role="button" onclick="change_description_vision({{ loop.index }})" title="Развернуть или скрыть описание">
                            <strong>Описание:</strong>
                            <span id="short_description {{ loop.index }}">{{ project.description | truncate(300, false, ' ...') }}</span>
                            <span id="all_description {{ loop.index }}" hidden>{{ project.description }}</span>
                        </p>
                        {% if project.vacancies %}
                            <p class="fs-6">
                                <strong class="fs-5">Вакансии:</strong>
                                <div class="row">
                                    {% for vacancy in project.vacancies %}
                                    <div class="col-4 mb-4">
                                        <div class="card">
                                            <div class="card-header bg-warning bg-gradient">
                                                <strong>{{ vacancy.vacancyName }}</strong>
                                            </div>
                                            <div class="card-body">
                                                <strong>Описание:</strong> <pre style="white-space: pre-wrap; word-wrap: break-word; ">{{ vacancy.vacancyDescription }}</pre>
                                            </div>
                                            <div class="card-body">
                                                <strong>Требования:</strong> <pre style="white-space: pre-wrap; word-wrap: break-word; ">{{ vacancy.vacancyNeeds }}</pre>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </p>
                        {% endif %}
                        {% if project.teammates %}
                            <p class="fs-6" style="color: red;">
                                Людей в команде: {{ project.teammates | length }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-sm btn-primary px-5" href="/project/{{ project.id }}">
                                    Открыть
                                </a>
                            </div>
                            <div class="col col-sm-auto fs-5">
                                {% if actions_count[project.id]['likes'] > 0 %}
                                    <span title="Отметки «нравится»" class="badge bg-success" role="button">{{ actions_count[project.id]['likes'] }}</span>
                                {% endif %}
                                {% if actions_count[project.id]['mark'] > 0 %}
                                    <span title="Добавили в избранное" class="badge bg-warning" role="button">{{ actions_count[project.id]['mark'] }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
</div>

{% endblock %}