{% extends "base_template.html" %}

{% block title %}Поиск проектов{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="justify-content-center">
        <div class="h2">
            Поиск проектов
        </div>
        <div class="col-md-12 mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <form method="get" action="" class="input-group-lg">
                        <div class="row g-3">
                            <div class="col-11">
                                <input class="form-control me-2" type="search" name="query" placeholder="Введите запрос..." aria-label="Search">
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-primary" type="submit">Искать</button>
                            </div>
                        </div>
                        <div class="h5 mt-4">
                            <a class="text-decoration-none link-dark h5" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">
                                Фильтры поиска
                            </a>
                        </div>
                        <div class="collapse" id="filters">

                        </div>
                    </form>
                </div>
            </div>
            <hr>
        </div>
        {% for user in users %}
            <div class="card mb-3">
                <div class="card-body">
                    {{ user.surname }} {{ user.name }} <a href="/users/@{{ user.username }}">@{{ user.username }}</a>
                </div>
            </div>
        {% endfor %}
</div>
</div>

{% endblock %}