{% extends "base_template.html" %}

{% block title %}Поиск пользователей{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="justify-content-center">
        <div class="h2">
            Поиск пользователей
        </div>
        <div class="col-md-12 mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <form method="get" action="" class="input-group-lg">
                        <div class="row g-2">
                            <div class="col-11">
                                <input class="form-control me-2" type="search" name="query" placeholder="Введите запрос..." aria-label="Search" value="{% if values is defined and values.get('query') %}{{ values.get('query') }}{% endif %}">
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-primary" type="submit">Искать</button>
                            </div>
                        </div>
                        <div class="h5 mt-4">
                            <a class="text-decoration-none link-dark h5" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">
                                Фильтры поиска
                                <svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z" fill="#000000"/>
                                </svg>
                            </a>
                        </div>
                        <div class="collapse" id="filters">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <a class="link-dark h5" data-bs-toggle="collapse" href="#choose_search_by" role="button" aria-expanded="false" aria-controls="choose_search_by">
                                            Поиск по ...
                                        </a>
                                    </div>
                                    <div class="collapse mt-2 show" id="choose_search_by">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="users_search_by_name_and_surname" name="users_search_by_name_and_surname" {% if (values is defined and values.get('users_search_by_name_and_surname') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="users_search_by_name_and_surname">
                                              Имени и фамилии
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="users_search_by_username" name="users_search_by_username" {% if (values is defined and values.get('users_search_by_username') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="users_search_by_username">
                                              Имени пользователя
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="users_search_by_education" name="users_search_by_education" {% if (values is defined and values.get('users_search_by_education') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="users_search_by_education">
                                              Образованию
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="users_search_by_skills" name="users_search_by_skills" {% if (values is defined and values.get('users_search_by_skills') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="users_search_by_skills">
                                              Технологическим интересам и навыкам
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="users_search_by_hobbies" name="users_search_by_hobbies" {% if (values is defined and values.get('users_search_by_hobbies') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="users_search_by_hobbies">
                                              Увлечениям
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="users_search_by_tags" name="users_search_by_tags" {% if (values is defined and values.get('users_search_by_tags') in ['on']) or not values %}checked{% endif %}>
                                            <label class="form-check-label" for="users_search_by_tags">
                                              Тегам
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
        </div>
        {% if not users %}
            <div class="row">
                <svg fill="#565656" class="mt-4" width="150px" height="150px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10.035,18.069a7.981,7.981,0,0,0,3.938-1.035l3.332,3.332a2.164,2.164,0,0,0,3.061-3.061l-3.332-3.332A8.032,8.032,0,0,0,4.354,4.354a8.034,8.034,0,0,0,5.681,13.715ZM5.768,5.768A6.033,6.033,0,1,1,4,10.035,5.989,5.989,0,0,1,5.768,5.768Z"/></svg>
                <p class="text-center text-muted mt-2">По вашему запросу ничего не нашлось.</p>
            </div>
        {% endif %}
        {% for user in users %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="fs-5">
                        <strong>{{ user.surname }} {{ user.name }}</strong> <a href="/account/@{{ user.username }}">@{{ user.username }}</a>
                    </div>
                    <div class="my-2">
                        <small class="fs-6 font-monospace">
                            {% if user.about.tags.split(' ') != [''] %}
                                {% for tag in user.about.tags.split(' ') %}
                                <a href="/search/users?query={{ tag }}&users_search_by_tags=on"><span class="badge rounded-pill" style="background-color: {{ user.string_to_color(tag) }};">{{ tag }}</span></a>
                                {% endfor %}
                            {% endif %}
                        </small>
                    </div>
                    <div>
                        {% if user.projects | length > 0 %}
                            <a href="/account/@{{ user.username }}/projects" class="link-danger">Проектов: {{ user.projects | length }}</a>
                        {% endif %}
                    </div>
                    {% if user.about.get('education') or user.about.get('skills') or user.about.get('hobbies') %}
                        <div class="mt-4"></div>
                    {% endif %}
                    
                    {% if user.about.get('education') %}
                    <div>
                        <strong>Образование:</strong> {{ user.about.education }}
                    </div>
                    {% endif %}
                    {% if user.about.get('skills') %}
                    <div>
                        <strong>Технологические интересы, навыки:</strong> {{ user.about.skills }}
                    </div>
                    {% endif %}
                    {% if user.about.get('hobbies') %}
                    <div>
                        <strong>Увлечения:</strong> {{ user.about.hobbies }}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
</div>
</div>

{% endblock %}