{% extends 'base_template.html' %}

{% block title %}Проект «{{ project.name }}»{% endblock %}

{% block content %}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="h2">
            Просмотр проекта
        </div>
        <div class="card mt-4 p-0">
            <div class="card-header fs-6">
                <div class="row">
                    <strong class="col fs-5 font-monospace">{{ project.type }}</strong>
                    <span class="text-muted col col-sm-auto" title="{{ project.public_date.strftime('%d.%m.%Y %H:%M:%S') }} GMT">{{ project.public_date.strftime('%d.%m.%Y') }}</span>
                </div>
            </div>
            <div class="card-body">
                <div class="card-title h2 m-0">
                    {{ project.name }}
                </div>
                <div class="card-text">
                    <p class="text-muted mt-0">
                        {{ project.theme }}
                    </p>
                    <p class="fs-6">
                        <strong>Цель:</strong> {{ project.goal }}
                    </p>
                    <p class="fs-6">
                        <strong>Описание:</strong>
                        <span>{{ project.description }}</span>
                    </p>
                </div>
                <strong>Автор:</strong> <a href="/account/@{{ project.author.username }}">{{ project.author.surname }} {{ project.author.name }} @{{ project.author.username }}</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a type="button" class="btn btn-sm {% if 'mark' in actions %}btn-warning{% else %}btn-outline-warning{% endif %}" id="mark" onclick="make_project_action({{ project.id }}, 'mark')">{% if 'mark' in actions %}В избранном{% else %}Добавить в избранное{% endif %}</a>
                    </div>
                    <div class="col col-sm-auto">
                        <a type="button" class="btn btn-sm {% if 'like' in actions %}btn-success{% else %}btn-outline-success{% endif %}" id="like" onclick="make_project_action({{ project.id }}, 'like')">Нравится</a>
                        <a type="button" class="btn btn-sm {% if 'dislike' in actions %}btn-danger{% else %}btn-outline-danger{% endif %}" id="dislike" onclick="make_project_action({{ project.id }}, 'dislike')">Не нравится</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
