<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/login.css">
  <title>Регистрация</title>
</head>

<body>
  <header class="bg-dark text-white">
    <div class="container py-3">
      <div class="hstack gap-3">
        <a href="/" class="navbar-brand text-white" style="border-bottom: 2px solid white;">// 1561 PROJECTS //</a>
      </div>
    </div>
  </header>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow bg-body rounded">
          <div class="card-header bg-dark text-white">
            Регистрация
          </div>
          <div class="card-body h5 ">
            <form action="/register" method="post">
              <div class="form-group mb-3">
                <label for="username" class="mb-2">Имя пользователя:</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="form-group mb-3">
                <label for="password" class="mb-2">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="d-grid gap-2 mx-auto text-center">
                <button type="submit" class="btn btn-primary mt-2">Зарегистрироваться</button>
                <hr>
                <div class="text-muted mt-2">
                  <small>
                    Зарегистрироваться другим способом:
                  </small>
                </div>
              </div>
              <div class="d-grid gap-2 mx-auto justify-content-md-center mt-2">
                <button class="btn btn-outline-primary btn-sm">
                  <u href="https://whoid.ru/auth/login?token={{ token }}&link={{ link }}" class="h5">
                    <small>Зарегистрироваться при помощи <b>1561ID</b></small>
                  </u>
                </button>
                <small class="text-center mt-4">
                    Уже зарегистрировались? 
                  <a href="/login">
                    Войти
                  </a>
                </small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>